    <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Västtrafik!
        script(src='http://code.jquery.com/jquery.js')
        style
            include style.css
    body
        .header
            #logo
                img#logo(src='https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/24910018_1167244380073565_4030214249258855679_n.jpg?_nc_cat=108&_nc_ht=scontent-arn2-1.xx&oh=df1751a9f475a84a3f5c5411f5a7a4d6&oe=5CAFAFBC')
            #name

            #time
        div.container
            .row.subheader
                .cell.h1
                    p Hållplats
                .cell.h2
                    p Linje
                .cell.h3
                    p Avgår om 
                .cell.h4
                    p Därefter
                .cell.h5
                    p Destination
                .cell.h6
                    p Läge
            .row#3
            .row#4
            .row.smorslott#1
            .row.smorslott#2
        script(src="script.js")


        


                     



            


