    <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Västtrafik!
        script(src='http://code.jquery.com/jquery.js')
        style
            include style.css
    body
        .header
            #logo
                h1 logo
            #name
                h1 DEPARTURE BOARD
            #time
        div.container
            .row#subheader
                .cell.stop
                    p Hållplats
                .cell.bus.h
                    p Linje
                .cell
                    p Avgår om 
                .cell
                    p Därefter
                .cell
                    p Destination
                .cell
                    p Läge
            .row#1
            //- .row#2
            //- .row#3
        script(src="script.js")


        


                     



            


