    <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Västtrafik!
        script(src='http://code.jquery.com/jquery.js')
        link(rel='stylesheet', type='text/css', href='style.css')
        link(rel='shortcut icon', href='/favicon.ico')
    body
        .header
            #logo
                img#logo(src='logo.jpg')
            #name

            #time
        div.container
            .row.subheader
                .cell.h1
                    p Hållplats
                .cell.h2
                    p Linje
                .cell.h3
                    p Avgår om 
                .cell.h4
                    p Därefter
                .cell.h5
                    p Destination
                .cell.h6
                    p Läge
            .row#3
            .row#4
            .row.smorslott#1
            .row.smorslott#2
            .row#5
        script(src="script.js")


        


                     



            


