<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
            include style.css
    body
        h1.header MOVIES

        .buttons
            a(href='add')
                button.links ADD
            a(href='search')
                button.links SEARCH
            a(href='remove')
                button.links REMOVE
            a(href='movies')
                button.links ALL MOVIES
        br
        br
        block addform
        block removeform
        block removed_result
        block searchform
        block search_result
        block show_all_movies
        


                     



            


