h1{
    margin:0;
}
p{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background-color: black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    color:white;
    height:80px;
    background-color: rgb(80, 90, 179);
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin:auto;
    margin-top:0; 
}
.row{
    display: flex;
    flex-direction: row;    
    height: 60px;
    text-align: center;
    font-size: 45px;
    color:white;
    margin-bottom:10px;
}

.cell{
    width: 240px ;
    color: white;
}
.bus{
    background-color: Blue;
    width:140px;
    border-radius: 30%
}
.h{
    background-color: black;
}
.stop{
    width:350px;
}
.direction{
    width:290px;
}
.track{
    width: 110px;
}
.smorslott{
    background-color: darkgray;
}

