#logo{
    width: 400px;
    height: 150px;
    padding-left: 20px;
}
#time{
   font-size: 130px;
   padding-right:20px;
}
#name{
    margin-top:60px;
}
h1{
    margin:0;
}
p{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background-color: black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:300px;
    color:white;
    height:80px;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin:auto;
    margin-top:80px; 
}
.row{
    display: flex;
    flex-direction: row;    
    height: 60px;
    text-align: center;
    font-size: 45px;
    color:white;
    margin-bottom:10px;
}
.subheader{
    height: 30px;
    font-size: 25px;
    background-color: rgb(29, 127, 160);
}

.cell{
    width: 240px ;
    color: white;
}
.bus{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: Blue;
    width:140px;
    margin:5px;
    font-size: 90%;
    border-radius: 10%;
}
.h1, .h2, .h3, .h4, .h5, .h6{
    /* border:1px solid white;  */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h1{
    margin-left:60px;
}
.h2{
    background-color: rgb(29, 127, 160);
    width:70px;
    margin-left: 95px;
    margin-right:35px;
}
.h4{
    margin-right: 45px;
}
.h5{
    margin-left: 35px;
    width: 120px;
}
.h6{
    margin-left: 25px;
}
.stop{
    width:350px;
}
.direction{
    width:290px;
}
.track{
    width: 110px;
}
.tram{
    background-color: white;
    color: Blue;
}
.smorslott{
    background-color: rgb(49, 47, 47);
}

